<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitDash</title>
</head>
<body>
  <header>
    <h1 style="color: blue;">TITLE</h1>
    <span>Week X/52</span>
  </header>
  
  <nav>
    <ul>
      <li style="color: blue;"><a href="#Home"></a>Home</li>
      <li><a href="#Programs"></a>Programs</li>
      <li><a href="#Groceries"></a>Groceries</li>
    </ul>
  </nav>
  
  <section>
    <h2 style="color: green;">Groceries</h2>
    <ul>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
      <li> 12 eggs </li>
    </ul>
  </section>

  <main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas modi minus sint aperiam hic illum iusto vero, quibusdam corporis maiores? Eveniet vitae a eligendi. Autem in animi officia et. Sapiente!
  </main>
</body>
</html>