ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: circle;
}

a {
    all: unset;
    padding-left: 5px;
}

h3, li {
    padding: 5px 0px;
}

h3:hover, li:hover{
    cursor: pointer;
    background: var(--clr-primary-background);
    color: var(--clr-primary-accent);
}

.active-link {
    font-weight: bold;
    background: var(--clr-primary-background);
    color: var(--clr-primary-accent);
}


svg-icon {
    fill: white;
    stroke: black;
    width: 30px;
    height: 30px;
}

.icon {
    fill: currentColor;
    stroke: currentColor;
}

.nav-home {
    display: flex; 
    align-items: center;
}