svg-icon {
    fill: var(--clr-background);
    stroke: var(--clr-text);
    width: 24px;
    height: 24px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: circle;
}

.line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}    

button {
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-top: 4px;
}

.edit {
  background: var(--clr-warning-accent);
  border-color: transparent;
  border-radius: 5px;
}

.edit:hover {
  background-color: var(--clr-warning-background);
}

.trash {
    background: var(--clr-error-accent);
    border-color: transparent;
    border-radius: 5px;   
}

.trash:hover {
  background-color: var(--clr-error-background);
}