<div class="test">
    <button class="cancel">
        Cancel
    </button>
    
    <button class="validate">
        Validate
    </button>
</div>

<p>neutral color palette</p>
<div style="display: flex; flex-direction: row; gap: 0.5rem">
    <div style="width: 50px; height: 50px; background-color: var(--clr-background);"></div>
    <div style="width: 50px; height: 50px; background-color: var(--clr-text);"></div>
    <div style="width: 50px; height: 50px; background-color: var(--clr-text-invert);"></div>
</div>

<p>main color palette</p>
<div style="display: flex; flex-direction: row; gap: 0.5rem">
    <div style="width: 50px; height: 50px; background-color: var(--clr-brand-background);"></div>
    <div style="width: 50px; height: 50px; background-color: var(--clr-brand-accent);"></div>
</div>

<p>success color palette</p>
<div style="display: flex; flex-direction: row; gap: 0.5rem">
    <div style="width: 50px; height: 50px; background-color: var(--clr-success-background);"></div>
    <div style="width: 50px; height: 50px; background-color: var(--clr-success-accent);"></div>
</div>

<p>warning color palette</p>
<div style="display: flex; flex-direction: row; gap: 0.5rem">
    <div style="width: 50px; height: 50px; background-color: var(--clr-warning-background);"></div>
    <div style="width: 50px; height: 50px; background-color: var(--clr-warning-accent);"></div>
</div>

<p>error color palette</p>
<div style="display: flex; flex-direction: row; gap: 0.5rem">
    <div style="width: 50px; height: 50px; background-color: var(--clr-error-background);"></div>
    <div style="width: 50px; height: 50px; background-color: var(--clr-error-accent);"></div>
</div>