<div class="content">
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas modi minus sint aperiam hic illum iusto vero, quibusdam corporis maiores? Eveniet vitae a eligendi. Autem in animi officia et. Sapiente!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur odio cupiditate unde fuga dolores cumque aut esse laudantium sed ex commodi vel iste nihil iusto nulla impedit, natus, accusantium blanditiis?
    </p>
  </main>

  <section class="groceries">
    <app-list-groceries></app-list-groceries>
  </section>
</div>