:root {
    /*Neutral color palette*/
    --clr-background: oklch(var(--lighting-neutral-background) 0.01 none);
    --clr-text: oklch(var(--lighting-neutral-text) 0.01 none);
    --clr-text-invert: oklch(var(--lighting-neutral-text-invert) 0.01 none);

    /*Primary color palette*/
    /*Declination of dark blue*/
    --primary-hue: 264;    
    --clr-primary-background: oklch(var(--lighting-background) 0.05 var(--primary-hue));
    --clr-primary-accent: oklch(var(--lighting-accent) 0.12 var(--primary-hue));

    /*Complementary color palette*/
    /*Declination of dark brown*/
    --complementary-hue: calc(var(--primary-hue) + 180);
    --clr-complementary-background: oklch(var(--lighting-background) 0.05 var(--complementary-hue));
    --clr-complementary-accent: oklch(var(--lighting-accent) 0.05 var(--complementary-hue));

    
    /*Success color palette*/
    /*Declination of green*/
    --success-hue: 150;
    --clr-success-background: oklch(var(--lighting-background) 0.05 var(--success-hue));
    --clr-success-accent: oklch(var(--lighting-accent) 0.12 var(--success-hue));


    /*Warning color palette*/
    /*Declination of orange*/
    --warning-hue: 60;
    --clr-warning-background: oklch(var(--lighting-background) 0.05 var(--warning-hue));
    --clr-warning-accent: oklch(var(--lighting-accent) 0.12 var(--warning-hue));

    /*Error color palette*/
    /*Declination of red*/
    --error-hue: 20;
    --clr-error-background: oklch(var(--lighting-background) 0.05 var(--error-hue));
    --clr-error-accent: oklch(var(--lighting-accent) 0.12 var(--error-hue));
    
    background: var(--clr-background);
    color: var(--clr-text);
}

/* Handle light/dark theme, system preference and user preference */
@media (prefers-color-scheme: light) {
  :root {
    --lighting-neutral-background: 97%;
    --lighting-neutral-text: 25%;
    --lighting-neutral-text-invert: 89%;

    --lighting-accent: 38%;
    --lighting-background: 89%;
  }
}

html.light {
    --lighting-neutral-background: 97%;
    --lighting-neutral-text: 25%;
    --lighting-neutral-text-invert: 89%;

    --lighting-accent: 38%;
    --lighting-background: 89%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --lighting-neutral-background: 12%;
    --lighting-neutral-text: 89%;
    --lighting-neutral-text-invert: 12%;

    --lighting-accent: 80%;
    --lighting-background: 25%;
  }
}

html.dark {
    --lighting-neutral-background: 12%;
    --lighting-neutral-text: 89%;
    --lighting-neutral-text-invert: 12%;

    --lighting-accent: 80%;
    --lighting-background: 25%;    
}

/*Default style*/
html, body { height: 100%; box-sizing: border-box; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

button, input, select, textarea {
  color: inherit;
}

h1, h2 { color: var(--clr-primary-accent); }

/*Sidenav related*/
.p-drawer-left .p-drawer {
    background-color: var(--clr-background);
    color: var(--clr-text);
    border: none;
}