/* You can add global styles to this file, and also import other style files */

:root {
    --primary: oklch(0.55 0.31 264);
    --light-primary: oklch(from var(--primary) calc(l + 0.15) c h);
    --dark-primary: oklch(from var(--primary) calc(l - 0.15) c h);
    
    --secondary: oklch(0.55 0.16 143);
    --light-secondary: oklch(from var(--secondary) calc(l + 0.15) c h);
    --dark-secondary: oklch(from var(--secondary) calc(l - 0.15) c h);

    --surface-0: oklch(0.99 0 0 / 85%);
    --surface-1: oklch(1 0 0);
    --surface-2: oklch(0.96 0.005 300);

    --danger: oklch(0.59 0.23 7);

}

html, body { height: 100%; box-sizing: border-box; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 { color: var(--primary); }
h2 { color: var(--secondary); }

li::active { color: var(--light-primary); }